* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #04063c;

}

p {
    color: #555;

}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;


}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;


}

.col-2 h1 {
    font-size: 50px;
    line-height: 55px;
    margin: 30  px 0;
}


.col-2 p {
    text-align: center;
    margin-top: -1  0px;
    margin-left: -150px;
    font-size: 15px;
    color: #293985;
}




.btn {
    display: inline-block;
    background: #04063c;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 40px 0;
    border-radius: 40px;
    transition: background 0.5s;
}

.btn:hover {
    background: rgb(62, 62, 124);
    
}


.btns {
    display: inline-block;
    background: #04063c;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 40px;
    transition: background 0.5s;
}

.btns:hover {
    background: rgb(62, 62, 124);
    
}


.header {
    background: radial-gradient(#e6f6fa, #aff8d6);

}

.header .row {
    margin-top: -10px;
}

.categories {
    margin: 70px 0;
}

.small-container {
    display: flex;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 70px;

}

.col-3 {
    margin-right: 75px;
    margin-left: 75px;
}

.farve {
    display: inline-block;
    background: radial-gradient(#cef6dd, #aff8d6, #f3fff4);
    color: rgb(255, 255, 255);
    padding: 80px 15px;
    margin: 0px 0;
    border-radius: 40px;
    transition: background 1s;
    margin-left: 0px;
}


.rdbll {
    margin-top: -100px;
}

.tcbc {
    text-align: center;
    margin-top: -30px;
    margin-left: -200px;
    font-size: 15px;
    color: #293985;
}

.stjerner {
    color: #293985;
    text-align: left;
    margin-top: -45px;
    margin-left: 13px;
}


.farve:hover {
    transform: translateY(-8px);

}

.row .hei {
    filter: invert(0%) opacity(100%);
    
}

.secnd {
    font-size: 60px;
    font-weight: 1000;
    font-style: normal;
    letter-spacing: -5px;
    margin-top: -50px;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: -20px;
    text-decoration: underline;

}


.frst {
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: -5px;
    margin-top: -270px;
    margin-bottom: 0px;
    margin-left: -300px;
    margin-right: 50px;
    color: #d0f0f0;
    text-decoration: underline;
}

.row .heia {
    filter: invert(0%) opacity(100%);
    
}

.farga {
    color: rgb(23, 53, 73);
}

.abaot:hover {
    color: #293985;
    text-decoration: underline;

}

.prodo:hover {
    color: #293985;
    text-decoration: underline;

}

.farga:hover {
    color: #293985;
    text-decoration: underline;

}